jupyte
kaggle
matplotlib
nbsphinx
numpy
pandas
pandoc
Pillow
progressbar
recommonmark
requests
scikit-learn
Sphinx
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-katex
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tqdm
xgboost
graphviz
