jupyter
kaggle
matplotlib
nbsphinx
numpy
pandas
pandoc
Pillow
progressbar
recommonmark
requests
scikit-learn
Sphinx
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-jsmath
sphinxcontrib-katex
tqdm
xgboost
graphviz
